body{
    line-height: 1.5em;
}
h1, .logo, a, button {
    margin: 0.5em;
}
header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 1.5em;
    >img {
        max-width: 50%;
    }
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    img {
        max-width: 30%;
    }
}